

#carousel{
    background-image: url('../image/Fondo.jpg');
    background-size: 200px 200px;
    background-repeat:repeat;
    background-attachment: fixed;    
  }


  .jumbotron{
    margin-bottom: 0px;
    opacity:0.5;
    background: #000 url(../image/jumbofondo.jpg) top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

.Encabezado h1{
opacity:0;

  }

.absolute{
    margin-top: 60px;
    
    background-color: transparent;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #000;
    width: 100%;
    height: 10rem;
    text-shadow: 2px 2px 8px #D8E1CF;
    position: absolute;
    z-index: 3;

  }
  
  .responsive {
    width: 100%;
    height: auto;
  }