.row-header{

    margin: 0px auto ;
    padding: 0px auto;
}
.row-content{
    margin:0 px;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge ;
    min-height: 400px;
}
.footer{
    background-color: #D8E1CF;
    margin: 0px auto;
    padding:20px 0px 20px 0px; 
}

.jumbotron{
   
    padding:70px 30px 70px 30px;
    margin: 0px auto; 
    background-color: #CFD2E1;
    color:floralwhite;

}

address{
font-size: 80%;
margin: 0px;
color:#0f0f0f;

}

body{
padding:50px 0px 0px 0px;
z-index: 0;
}

@font-face{
    font-family: 'gothic';
    src: url('../Fonts/Bank\ Gothic\ Medium.otf');
 
    font-weight: medium;
    font-style: normal;
  }

  .navbar-toggler{
    border-width: 3px;
    border-style: solid;
    border-color: #19885F !important;

  } 
  
  .navbar-toggler-icon  {

    border-width: 3px;
    border-style: solid;
    border-color: #70B42D;
  }

  .navbar a:hover{
    color: #70B42D !important;
    font-family: 'gothic';    
  }

  .navbar{
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.navbar a{
    letter-spacing: 0.3px;
    
}
.titlenav {
    font-family:'gothic';
    letter-spacing: 0px;
    font-size: 25px;
}

