name: Build and deploy

on:
  push:
    branches: [ main ]
    
  # Run workflow manually
  workflow_dispatch:

jobs:

  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    - name: Deploy to Firebase
      uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
        projectId: pruebano1-13f38      
      env: 
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}